.navbar-toggler {
  position: fixed;
  right: 1vh;
  color: rgb(25, 241, 241);
  background-color: rgb(5, 35, 61);
}
.navbar-toggler-icon {
  background-color: maroon;
}
.navbar {
  margin-bottom: 2vh;
  background-color: black;
  color: rgb(120, 77, 189);
}
.navbarNav {
  background-color: blue;
}
.navbar-nav {
  bottom: 100px;
  text-align: center;
  color: aliceblue;
}
.nav-link {
  color: aliceblue;
}
.texto1 {
  text-align: center;
}
.politica {
  background-color: antiquewhite;
  opacity: 80%;
}

body {
  background-color: rgb(85, 82, 82);
}
.containerRodape {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  content: center;
  align-items: center;
  align-content: center;
  background-color: black;
}
.rodape2 {
  flex-direction: row;
  color: aliceblue;
}
.rodapetext {
  width: 100%;
  flex-direction: row;
  color: aliceblue;
}
.linkrodape {
  color: aliceblue;
}
.container-1-pro{
  display: flex;
  flex-direction: row;
  border-radius: 1vh;
  background-color: aliceblue;
}
.container-2-pro{
  display: flex;
  flex-direction: row;
  border-radius: 1vh;
  background-color: aliceblue;
}
.container-3-pro{
  display: flex;
  flex-direction: row;
  border-radius: 1vh;
  background-color: aliceblue;
}
.container-4-pro{
  display: flex;
  flex-direction: row;
  border-radius: 1vh;
  background-color: aliceblue;
}
.container-5-pro{
  display: flex;
  flex-direction: row;
  border-radius: 1vh;
  background-color: aliceblue;
}
.container-6-pro{
  display: flex;
  flex-direction: row;
  border-radius: 1vh;
  background-color: aliceblue;
}
.h2p1{
  text-align: right;
  align-items: flex-end;
}
.h2p2{
  text-align: left;
  align-items: flex-end;
}
.h2p3{
  text-align: match-parent;
  text-align: right;
  margin-left: 33vh;
  margin-right: 1vh;
}
.h2p4{
  text-align: left;
  align-items: flex-end;
}
.h2p5{
  text-align: right;
  align-items: flex-end;
}
.h2p6{
  text-align: left;
  align-items: flex-end;
}

@media ( max-width: 900px ) {
  .container-1-pro{
    display: block;
    flex-direction: row;
    border-radius: 1vh;
    background-color: aliceblue;
  }
  .container-2-pro{
    display: block;
    flex-direction: row;
    border-radius: 1vh;
    background-color: aliceblue;
  }
  .container-3-pro{
    display: block;
    flex-direction: row;
    border-radius: 1vh;
    background-color: aliceblue;
  }
  .container-4-pro{
    display: block;
    flex-direction: row;
    border-radius: 1vh;
    background-color: aliceblue;
  }
  .container-5-pro{
    display: block;
    flex-direction: row;
    border-radius: 1vh;
    background-color: aliceblue;
  }
  .container-6-pro{
    display: block;
    flex-direction: row;
    border-radius: 1vh;
    background-color: aliceblue;
  }
  .h2p1C{
    text-align: center;
  }
  .h2p2C{
    text-align: center;
  }
  .h2p3C{
    text-align: center;
  }
  .h2p4C{
    text-align: center;
  }
  .h2p5C{
    text-align: center;
  }
  .h2p6C{
    text-align: center;
  }
}